.DS_Store
# Python
env/
__pycache__/
*.py[cod]

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
variable.tfvars
.terraform.lock.hcl

# Other
apigee/apiproxy/resources/properties/props.properties
assets/apigee-signedurl-example.zip